# Introducción a Python

## Unidad 2: Variables en Python

**Índice**   
1. [Tipos de variables](#id1)
2. [Operadores](#id2)

### 1. Tipos de variables <a name="id1"></a>

#### 1.1. ¿Qué es una variable?

En Python podemos usar distintos tipos de elementos, como números, cadena de texto, listas, funciones, etc. Cada uno de estos elementos tiene su propia caja donde está encapsulada su información, que se denomina **objeto**. Estos objetos tiene un tipo (*type* en inglés, por ejemplo, string o int) y unos datos internos.
Si queremos guardar o usar la información de estos objetos tendremos que crear un enlace/referencia. Este proceso se llama declarar una **variable**.

A continuación podemos ver un ejemplo:

In [ ]:
# Estamos declarando la variable a con un valor de 2
a = 2

# Ahora declaramos la variable b como una lista
b = [1, 2, 3]

# También podemos usar una variable para declarar otra
c = b

**Importante**: En algunos languajes, esta asignación (c=b) haría que se copiaran los datos. En Python, c y b en realidad ahora se refieren al mismo objeto. Si modificamos la variable b, este cambio va a impactar también en c.

In [ ]:
b.append(4)

print('Variable b: ', b)
print('Variable c: ', c)

Variable b:  [1, 2, 3, 4]
Variable c:  [1, 2, 3, 4]

*Cuando creamos una variable, podemos usar cualquier nombre?*

Tal como comentamos en la unidad 1, hay unas buenas prácticas que se recomienda seguir, pero Python tiene bastante flexibilidad. Sin embargo, hay un conjunto de palabras, llamadas **palabras reservadas**, que no podemos usar. La razón es que estas palabras ya se usan en tareas internas de Python, por lo tanto, si se usaran, ocurrirían conflictos importantes.

Algunas de estas palabras forman parte de la sintaxis básica de Python (por ejemplo: *True*, *False*, *def*, *return*). Otras forman parte de funcionalidades más avanzadas (*async*, *await*, *yield*).

Para consultar cuáles son las palabras reservadas en Python, se puede ejecutar el código siguiente:

In [ ]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

### 1.2. Tipos de datos

En los apartados anteriores ya hemos empezado a ver que los objetos de Python pueden ser de muchos tipos. Por ejemplo, la edad de una persona se almacena como un valor numérico y, su nombre, como caracteres.

Python tiene varios tipos de datos estándar que se utilizan para definir las variables:

| Tipo de dato| Declaración |
| :- | :-: |
| enteros (int) | num_entero = 5  |
| números decimales (float) | num_dec = 2.5  |
| números complejos (complex) | num_complex = 1 + 3j  |
| cadena de caracteres (string) | texto = "Hola mundo"  |
| listas (list) | lista = [1, 2, 3] |
| tuplas (tuple) |  libro = ('Harry Potter', 1994) |
| diccionarios (dict) | compra = {'kiwi' : 2.5, 'galletas' : 4.7}  |

Así pues, conocer el tipo de un objeto es importante.

Para comprobar el tipo de una variable, se puede usar la función isinstance.

In [ ]:
# Declaramos una variable a con el número entero 5
a = 5

# En python, los números enteros se llaman int (en inglés integer)
# Con la función isinstance podemos comprobar que el tipo de a es int
# Si es correcto, obtendremos el boolean True
print('a es un int: ', isinstance(a, int))

# Si ponemos str (string), que sería una cadena de texto
# veremos que el resultando es False, no es correcta la igualdad
print('a es un str: ', isinstance(a, str))

a es un int:  True
a es un str:  False

Veamos unos ejemplos para cada uno de estos tipos:

#### Tipos numéricos

Los tipos numéricos permiten representar valores de forma numérica, ya sean enteros, reales (con decimales) o complejos.

In [1]:
# Declaramos un número entero positivo
var1 = 1

# Declaramos un número entero negativo
var2 = -5

# Podemos comprar que var1 i var2 son int
print('var1 es un int: ', isinstance(var1, int))
print('var2 es un int: ', isinstance(var2, int))

# Declaramos un número decimal
var3 = 2.5
# Declaramos un número complejo
var4 = 3+5j

# Si queremos saber el tipo
# Podemos usar la función type
# En este caso, var3 es un float
print("El tipo de var3 es: ", type(var3))
# Y var4 es un complex
print("El tipo de var4 es: ", type(var4))

# Con los números complejos podemos
# acceder a la parte real o la imaginaria
print('Parte real de var4: ',var4.real)
print('Parte imaginaria de var4: ', var4.imag)

# Tambien podemos cambiar el tipo de las variables
# Convertimos un número entero en uno decimal
# mediante la función 'float() '
var5 = float(7)
print("El tipo de var5 es: ", type(var3))

var1 es un int:  True
var2 es un int:  True
El tipo de var3 es:  <class 'float'>
El tipo de var4 es:  <class 'complex'>
Parte real de var4:  3.0
Parte imaginaria de var4:  5.0
El tipo de var5 es:  <class 'float'>

#### Cadenas de caracteres

In [2]:
# Las cadenas de caracteres son lo que comúnmente llamaríamos texto
# El tipo texto se llama string (str)
# Declaro una cadena de caracteres
string1 = 'Hola, buenos días'
print('El valor de string1 es: ', string1)

# Podemos juntar dos cadenas usando el operador '+'.
# Hablaremos de los operadores en más detalle en la siguiente sección
string2 = 'Hola, ' + 'Me llamo ' + 'Maria' + '!'
print(string2)

El valor de string1 es:  Hola, buenos días
Hola, Me llamo Maria!

#### Listas, diccionarios y tuplas

Las listas, diccionarios y tuplas son tipos más complejos que los anteriores, pero muy utilizados en Python.

**Listas**

Una lista es una estructura de datos en Python que es una secuencia de elementos ordenados mutables. Cada elemento o valor que está dentro de una lista se denomina elemento. Así como las cadenas de texto se definen como caracteres entre comillas, las listas se definen con valores entre corchetes [ ].

In [3]:
# Declaramos una lista de números int
lista1 = [1, 2, 3, 4]

# Tambien podemos crear una lista de strings
lista2 = ['Hola', 'Adios', 'Bien', 'Mal']

# Se puede crear una lista vacía
lista3 = []

# Y hasta crear listas con elementos de distinto tipo
lista4 = [1, 'Hola', 2, 'Adios']

# Mostramos los elementos de la lista
print("lista4: ", lista4)

lista4:  [1, 'Hola', 2, 'Adios']

In [4]:
# También podemos añadir un nuevo elemento a una lista
lista4.append('Bien')
print("Nueva lista4: ", lista4)

# O quitarlo
lista4.remove('Hola')
print("Nueva lista4: ", lista4)

Nueva lista4:  [1, 'Hola', 2, 'Adios', 'Bien']
Nueva lista4:  [1, 2, 'Adios', 'Bien']

In [5]:
# Si queremos ordenar alfabéticamente
# una lista de strings
# podemos usar la función 'sorted()'
print(sorted(lista2))

['Adios', 'Bien', 'Hola', 'Mal']

In [6]:
# Tambien podemos concatenar 2 listas
lista_pelis = ['Harry Potter', 'Matrix']
lista_ciudades = ['Londres', 'Boston']

lista_final = lista_pelis + lista_ciudades
print(lista_final)

# Si queremos ampliar una lista con otra
# Podemos usar la función extend
lista_nuevas_ciudades = ['Paris', 'Roma']
lista_ciudades.extend(lista_nuevas_ciudades)
print(lista_ciudades)

['Harry Potter', 'Matrix', 'Londres', 'Boston']
['Londres', 'Boston', 'Paris', 'Roma']

In [7]:
# Si queremos trabjar con algun elemento concreto
# podemos acceder a él con su índice
print(lista_ciudades[0])

# El primer elemento de una lista es el 0,
# por lo tanto, el segundo será el 1
print(lista_ciudades[1])

# Podemos acceder al último elemento mediante números negativos
print(lista_ciudades[-1])

# Y el penúltimo
print(lista_ciudades[-2])

Londres
Boston
Roma
Paris

In [ ]:
# También podemos obtener partes de una lista
# mediante la técnica de 'slicing'.
dias_semana = ['Lunes', 'Martes', 'Miercoles', 'Jueves',
           'Viernes', 'Sabado', 'Domingo']

# Por ejemplo, los dos primeros elementos:
print(dias_semana[:2])

# O los elementos entre las posiciones 2 y 4
print(dias_semana[2:5])

# O los elementos del segundo al penúltimo:
print(dias_semana[1:-1])

['Lunes', 'Martes']
['Miercoles', 'Jueves', 'Viernes']
['Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado']

In [10]:
# Una cadena de texto (string) se puede considerar
# como un conjunto de caracteres
# Por lo tanto, podemos acceder a ellos como elementos de una lista

# Podemos acceder a una posición determinada
personaje = 'Harry Potter me encanta'
print(personaje[0])

# Podemos usar slicing con las cadenas de caracteres
print(personaje[6:12])

# Podemos separar un string por el carácter que consideremos
# usando la función split()
# Usamos _ ya que no queremos guardar los elementos en la 3a y 4a posición
nombre, apellido, _ , _ = personaje.split()
print(apellido)

# Y podemos representar un determinado string
# en una lista de caracteres
chars = list(apellido)
print(chars)

# Y con join podemos unir los diferentes elementos de una lista
# mediante un carácter especificado
print('🐶'.join(chars))
print('.'.join(chars))

H
Potter
Potter
['P', 'o', 't', 't', 'e', 'r']
P🐶o🐶t🐶t🐶e🐶r
P.o.t.t.e.r

In [ ]:
# Podemos modificar un elemento en concreto de una lista:
lista_nombres = ['Maria', 'Pablo', 'Juan']
lista_nombres[-1] = 'Pedro'

# Mostramos la lista en pantalla
print(lista_nombres)

['Maria', 'Pablo', 'Pedro']

**Tuplas**

Una tupla en Python es una colección de objetos separados por comas. De hecho, una tupla es similar a una lista, pero la principal diferencia entre ambos tipos es que la tupla de Python es ***inmutable***, a diferencia de la lista de Python, que es mutable. Es decir, en una tupla, ***una vez declarada no podemos añadir elementos ni eliminarlos***.

In [8]:
libro_HP = ('Harry Potter 1', 'Harry Potter 2')

# Si ejecutamos la línea siguiente, obtendremos un error de tipo 'TypeError'
libro_HP[1] = 'Harry Potter 3'

TypeError: 'tuple' object does not support item assignment

In [9]:
# Con el operador , podemos desempaquetar los elementos de la tupla
hp1, hp2 = libro_HP
print(hp1)  # Muestra: Harry Potter 1
print(hp2)  # Muestra: Harry Potter 1

Harry Potter 1
Harry Potter 2

**Diccionarios**

Un diccionario es una estructura de datos en Python que contiene elementos en forma de clave y su respectivo valor. Es una colección de datos desordenados, indexados y que se pueden cambiar después de la definición del diccionario.

In [ ]:
# Lista de productos con su precio
# La clave (en inglés,'key') es el nombre del producto, y el valor, su precio:
dict_compra = {'Patata': 1, 'Arroz': 1.5,
                 'Caviar': 50, 'Pizza': 3}

# Podemos buscar por el nombre del producto (clave)
producto = 'Arroz'
# Miramos el precio (valor) del elemento Arroz
precio = dict_compra[producto]
# Mostramos el precio
print(precio)

# Podemos obtener todas las claves
print(dict_compra.keys())

# Y los valores
print(dict_compra.values())

1.5
dict_keys(['Patata', 'Arroz', 'Caviar', 'Pizza'])
dict_values([1, 1.5, 50, 3])

In [11]:
# Podemos definir un diccionario vacio
# y añadir elementos en él
dict_paises = {}

# Añadimos un elemento:
dict_paises['ES'] = 'España'

# Añadimos otro país:
dict_paises['IT'] = 'Italia'

print("Diccionario inicial: ", dict_paises)

# También podemos modificar el valor de una llave
dict_paises['IT'] = 'Francia'

print("Modificamos un elemento: ", dict_paises)

# Si queremos eliminar un elemento
# Podemos usar pop
dict_paises.pop("IT")

#o del
#del dict_paises['IT']

print("Eliminamos un elemento: ", dict_paises)

Diccionario inicial:  {'ES': 'España', 'IT': 'Italia'}
Modificamos un elemento:  {'ES': 'España', 'IT': 'Francia'}
Eliminamos un elemento:  {'ES': 'España'}

### 2. Operadores <a name="id2"></a>

Los operadores son símbolos que indican al programa que realice una operación específica. Hay 5 tipos:

####2.1. Operadores aritméticos
Los operadores aritméticos son símbolos que se usan para hacer una operación matemática básica.
Por ejemplo, en la expresión `a=3-1`, `3` y `1` son los operandos y `-` es el operador aritmético que indica la operación "resta".

| Operador| Descripción | Ejemplo
| :- | -- | :-: |
| + | Suma  | 2 + 1 = 3 |
| - | Resta | 2 - 3 = -1 |
| * | Multiplicación  | 2 * 4 = 8 |
| / | División  | 7 / 2 = 3.5 |
| // | División (número entero) | 7 // 2 = 3 |
| ** | Potencia  | 2 ** 3 = 8 |
| % |  Módulo | 16% 3 = 1 |

In [ ]:
# Definimos dos variables var1 y var2
var1 = 5
var2 = 7

# Podemos sumar, restar, multiplicar o dividir estas variables
print('Suma: ', var1 + var2)
print('Resta: ', var1 - var2)
print('Multiplicación: ', var1 * var2)
print('División: ', var1 / var2)
print('Potencia: ', var1 ** var2)

# También podemos hacer la división entera
# Como solo queremos con números enteros, no hay parte decimal
print('División entera: ', var1 // var2)

Suma:  12
Resta:  -2
Multiplicación:  35
División:  0.7142857142857143
Potencia:  78125
División entera:  0

####2.2. Operadores de asignación

Los operadores de asignación nos permiten realizar una operación y almacenar su resultado en la variable inicial.

Anteriormente ya hemos usado el operador `=`, que se usa en la declaración de variables. Este operador `=` se puede combinar con operadores aritméticos para poder hacer una operación y la asignación a la vez.

| Operador| Ejemplo | Alternativa |
| :- |  -- |:-: |
| = | a = 7 | --- |
| += | a += 2 | a = a + 2 |
| -= | a -= 7 | a = a - 7 |
| * = | a * = 4 | a = a * 4 |
| /= | a /= 3 | a = a / 3 |
| //= | a //= 5 | a = a //5 |
| %= |  a %= 2 | a = a % 2 |
| ** = | a ** = 3 | a = a ** 3 |


Por ejemplo, escribir a-=7, implica que vamos a disminuir en 7 el valor de `a`, y, a continuación, vamos a actualizar su valor. Si consideramos que el valor inicial de `a` es 3, después de esto, tendrá un valor de -4.

In [ ]:
# Definimos un elemento a con valor 3
a = 3
print(a)

# Hacemos la suma de a y 7 y actualizamos su valor
a -= 7

# Mostramos el nuevo valor de a
print(a)

3
-4

####2.3. Operadores relacionales

Los operadores relacionales se usan para comparar el valor de dos variables según una condición específica, indicando si la condición es cierta o no.

Estos operadores devuelven un tipo de datos concretos, denominado `boolean`, que tienen 2 valores: `True` o `False`. Si la condición es cierta, se devuelve el boolean `True`. Si la condición es falsa, se devuelve el boolean `False`.

| Operador| Descripción | Ejemplo
| :- | -- | :-: |
| &gt; | Devuelve True si el operando de la izquierda es mayor que el operando de la derecha  | 5 > 3 : True |
| &lt; | Devuelve True si el operando de la izquierda es menor que el operando de la derecha | 1 < 10 : True |
| == | Devuelve True si el operando de la izquierda es igual al operando de la derecha  | 3 == 3 : True |
| !=| Devuelve True si el operando de la izquierda es diferente que el operando de la derecha  | 3 != 8 : True|
| &gt;= | Devuelve True si el operando de la izquierda es mayor o igual que el operando de la derecha | 11 >= 9 : True |
| &lt;= |  Devuelve True si el operando de la izquierda es menor o igual que el operando de la derecha | 6 <= 6 : True |


**Ejemplo**

*¿Qué resultado tendrá 1>10? ¿Y 1<10?*

- Caso 1: 1>10

La condició es falsa, por lo tanto, Python devolverá el boolean False.

- Caso 2: 1<10

La condición es cierta, puesto que 1 es más pequeño que 10, de forma que se devolverá el boolean True.

In [ ]:
# Operadores mayor/menor que

# Las operaciones relacionales tendrán como resultado
# un valor cierto (True) o falso (False):
a = 1
b = 10

# El valor a es mayor que b?
print(a > b)

# El valor a es más pequeño que b?
print(a < b)

False
True

In [ ]:
# Operadores igual/distinto

# Definimos un elemento b
b = 5

# El valor de b es igual que el de a?
print(b == a)

# El valor de b es diferente que el de a?
print(b != a)

False
True

In [ ]:
# Operadores mayor/menor o igual que
# más pequeño o igual '<=',
# más grande o igual '>='

# Mostramos el resultado
print(a <= b)
print(a >= b)

True
False

####2.4. Operadores lógicos

Los operadores lógicos se usan para combinar condiciones (es decir, dos valores booleanos) y devolver un resultado (verdadero o falso).

| Operador| Descripción | Ejemplo
| :- | -- | :-: |
| and | Devuelve True si ambas condiciones son ciertas  | a and b |
| or | Devuelve True si alguna de las condiciones es cierta | a or b |
| not | Devuelve True si la condición es falsa | not a |

In [ ]:
# Vamos a practicar con 3 ejemplos

# Definimos dos elementos: a y b
a = 7
b = 3

# Mostramos en pantalla los resultados
print('Es a mayor y igual a b?: ', (a > b) and (a == b))
print('Es a mayor o igual a b?: ', (a > b) or (a == b))
print('Es la condición a != b falsa?: ', not (a != b))

Es a mayor y igual a b?:  False
Es a mayor o igual a b?:  True
Es la condición a != b falsa?:  False


**Ejemplo**

Tenemos 3 condiciones:
- a > b (a mayor que b)
- a == b (a igual a b)
- a != b (a diferente a b)

Situaciones:

1. Si consideramos el primer operador lógico `and`, devolverá True si se cumplen las 2 condiciones. En este caso, la 1.ª condición (a > b) se cumple, pero la 2.ª no (a == b). Por lo tanto, (a > b) and (a == b) devolverá el Boolean False.

2. En el segundo ejemplo, el operador lógico entre las 2 condiciones es `or`, por lo tanto, la expresión devolverá True si alguna de las condiciones es cierta. En este caso, como la primera condición se cumple,  (a > b) or (a == b) devolverá el Boolean True.

3. El operador lógico `not` devolverá True si la condición es falsa. En este caso, la condición es cierta, entonces, not (a != b) devolverá el Boolean False.

####2.5. Operadores de pertenencia

Los operadores de pertenencia `in` y `not in` se utilizan para comprobar si un valor o variable se encuentra en una secuencia ( list , tuple , dict , set o str ).

Considerando la lista siguiente:
`lista_deportes = ['futbol', 'tenis', 'natación']`

Vamos a comprobar si los elementos deporte1 (tenis) y deporte2 (karate) están o no en la lista de deportes.

In [ ]:
# Definimos tres elementos: lista deportes, y variables deporte1 y deporte2
lista_deportes = ['futbol', 'tenis', 'natación']
deporte1 = 'tenis'
deporte2 = 'karate'

# Mostramos si el elemento está o no en la lista de deportes
print("¿Está tenis en la lista?: ", deporte1 in lista_deportes) # tenis está en la lista
print("¿Está karate en la lista?: ", deporte2 in lista_deportes) # karate no está en la lista
print("¿Karate no está en la lista?: ", deporte2 not in lista_deportes) # karate no está en la lista

¿Está tenis en la lista?:  True
¿Está karate en la lista?:  False
¿Karate no está en la lista?:  True

También podemos usar estos operadores con otros tipos de variables en forma de secuencia, como diccionarios.

In [ ]:
# Creamos un diccionario que contiene, para cada alumno (clave)
# su calificación (valor)
calificaciones = {
    "Juan": 85,
    "Ana": 92,
    "Luis": 78
}

# Podemos comprobar si los alumnos forman parte de la clave del diccionario
if "Ana" in calificaciones:
    print("Ana está en el diccionario.")

if "Pedro" not in calificaciones:
    print("Pedro no está en el diccionario.")

Ana está en el diccionario.
Pedro no está en el diccionario.