Introducción a Python
============================

Ejercicios Parte práctica
-----------------------------------------------------

### Ejercicio 1

a) Queremos crear un programa que, dados dos números, nos diga si el primero es mayor que el segundo. Por ejemplo, 2 es mayor a 1? True.

b) Modifica el código para que el usuario introduzca los 2 números por pantalla.

In [54]:
# EXAMPLE:
num1 = 2
num2 = 1

print(f"{num1} es mayor que {num2}?", num1 > num2)

2 es mayor que 1? True

In [63]:
# a:
number1 = 10
number2 = 5

if number1 > number2:
  print("number1  is bigger/greater than number2", number1 > number2)

number1  is bigger/greater than number2 True

In [56]:
# b:
# user input with floats:
number1 = float(input("Please enter the first number: "))
number2 = float(input("Please enter the second  number: "))

# use f string
if number1 > number2:
  print(f"{number1} is bigger/greater than {number2}", number1>number2)
elif number2 > number1:
  print(f"{number2} is bigger/greater than {number1}", number1>number2)
else:
  print("Both r =")

Please enter the first number: 45.6
Please enter the second  number: 34.6
45.6 is bigger/greater than 34.6 True

In [62]:
# user input with int:
number1 = int(input("Please enter the first number: "))
number2 = int(input("Please enter the second  number: "))

if number1 > number2:
  print("number1  is bigger/greater than number2", number1>number2)
elif number2 > number1:
  print("number2 is bigger/greater than number1", number1>number2)
else:
  print("Both r =")

Please enter the first number: 45
Please enter the second  number: 28
number1  is bigger/greater than number2 True

### Ejercicio 2

a) Crea una lista con los doce meses del año, de Enero a Diciembre.

b) Selecciona de la lista los meses impares y muéstralos por pantalla.

c) Muestra la lista de meses invertida (ordenada de Diciembre a Enero).

d) Crea las listas `primavera`,`verano`, `otoño`,` invierno`, que incluyan los meses correspondientes (e.g. primavera incluye los meses marzo, abril y mayo), a partir de los elementos de la lista de meses.

e) Crea un código que, dado un elemento `mes` (e.g. Enero) de la lista, muestre la frase siguiente:

"El mes del año que más me gusta es Enero".

f) Modifica el código del apartado e) para que el usuario introduzca el mes por pantalla.

In [16]:
# a: LIST[]
months = ["January", "February",
          "March", "April",
          "May", "June",
          "July", "August",
          "September", "October",
          "November", "December"]
print(months)

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [57]:
# b: LIST[] ODD MONTHS
months = ["January", "February",
          "March", "April",
          "May", "June",
          "July", "August",
          "September", "October",
          "November", "December"]
print("List of odd months: ", months [0:11:2])

List of odd months:  ['January', 'March', 'May', 'July', 'September', 'November']

In [60]:
# c: INVERTED LIST[]
months = ["January", "February",
          "March", "April",
          "May", "June",
          "July", "August",
          "September", "October",
          "November", "December"]
months.reverse()
print(months)

#OR:
#months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October","November", "December"]
#print("Months in reverse: " , meses [::-1])

['December', 'November', 'October', 'September', 'August', 'July', 'June', 'May', 'April', 'March', 'February', 'January']

In [61]:
# d: SEASONS LIST[]
spring= months[2:5]
summer= months[5:8]
autumn= months[8:11]
winter = [months[11]]
winter += months[0:2]
print(spring)
print(summer)
print(autumn)
print(winter)

#OR:
#spring = ["March", "April", "May"]
#summer = ["June", "July", "August"]
#autumn = ["September", "October", "November"]
#winter = ["December", "January", "February"]
#print(spring)
#print(summer)
#print(autumn)
#print(winter)

['October', 'September', 'August']
['July', 'June', 'May']
['April', 'March', 'February']
['January', 'December', 'November']

In [64]:
# e: CHOOSE A MONTH
month = months[5]
print("El mes del año que más me gusta es", month)

#or
month = months[5]
print("El mes del año que más me gusta es %" %(month))

El mes del año que más me gusta es July

In [10]:
# f: USER INPUT
user = input("Please enter a month: ")

if user  == "January":
  print("El mes del año que más me gusta es Enero")
elif user  == "February":
  print("El mes del año que más me gusta es Febrero")
elif user  == "March":
  print("El mes del año que más me gusta es Marzo")
elif user  == "April":
  print("El mes del año que más me gusta es Abril")
elif user  == "May":
  print("El mes del año que más me gusta es Mayo")
elif user  == "June":
  print("El mes del año que más me gusta es Junio")
elif user  == "July":
  print("El mes del año que más me gusta es Julio")
elif user  == "August":
  print("El mes del año que más me gusta es Agosto")
elif user  == "September":
  print("El mes del año que más me gusta es Septiembre")
elif user  == "October":
  print("El mes del año que más me gusta es Octubre")
elif user  == "November":
  print("El mes del año que más me gusta es Noviembre")
else:
  print("It's Christmas!")

# or
print()

Please enter a month: November
El mes del año que más me gusta es Noviembre

### Ejercicio 3


Escribe un programa que, dado un string `dia` que haga referencia a un día de la semana, imprima si el contenido de este string es un día del fin de semana. Por ejemplo, si `dia` es `lunes`, debería mostrar por pantalla una cadena de caracteres con el siguiente formato:

```El lunes es fin de semana? : False.```

**Nota 1** : Para resolver este ejercicio podéis buscar información en *Stackoverflow*: https://stackoverflow.com/questions/10406130/check-if-something-is-not-in-a-list-in-python/10406143

**Nota 2**: Podemos suponer que el dia introducido siempre está en minúscula.

In [65]:
day = "Monday"
weekend = ["Saturday", "Sunday"]

answer = day not in weekend
print(f"El {day} es fin de semana? : {answer}.")

# OR
#day = "Monday"
#weekend = ["Saturday", "Sunday"]
#print("El {0} es din de semana:{1}". format(day, answer))

El Monday es fin de semana? : True.

### Ejercicio 4

Nos gusta mucho la UFC, por eso hemos decidido guardar la información del top5 de luchadores de peso pluma (*feather weight*), con su respectiva posición.

a) Escoge el tipo de variable de python más adecuada para esta tarea y llena la variable con la información.

b) Por motivos antidopping, se nos pide eliminar el campeón. Haz esta modificación.  

c) Como hemos quitado un luchador, añade el luchador número 5 al ranking para tener el nuevo top5.

**Nota**: Podéis usar la siguiente tabla de posiciones:

|Posición	|Nombre	 |
| :- | :-: |
|C	|Alexander Volkanovski|
|1	|Max Holloway|
|2	|Yair Rodriguez|
|3	|Brian Ortega|
|4	|Arnold Allen|
|5	|Ilia Topuria|

In [67]:
# Respuesta
UFC = {"C": "Alexander Volkanovski", "1": "Max Holloway", "2": "Yair Rodriguez", "3": "Brian Ortega", "4": "Arnold Allen", "5": "Ilia Topuria"}
print(UFC)

{'C': 'Alexander Volkanovski', '1': 'Max Holloway', '2': 'Yair Rodriguez', '3': 'Brian Ortega', '4': 'Arnold Allen', '5': 'Ilia Topuria'}

In [68]:
# b: USE POP
UFC.pop("C")

'Alexander Volkanovski'

In [70]:
# c: APPEND
UFC.append("Illia Topuria")
print(UFC)

# OR:
#UFC["5"] = "Illia Topuria"
#print(UFC)

AttributeError: 'dict' object has no attribute 'append'

In [ ]:
[key for key, value in UFC.items() if value == "Illia Topuria"]
[5]

### Ejercicio 5

A partir de la lista numeros = [1, 2, 3, 4, 5]:

a) Duplica el valor del último elemento de la lista y muestra la lista modificada por pantalla.

b) Crea una tupla a partir de la lista anterior.

c) Duplica el valor del primer elemento de la tupla y muestra la tupla modificada por pantalla.


¿Qué ocurre con la tupla? ¿Por qué? Razona la respuesta.

In [47]:
# a: DUPLICATE THE LAST ELEMENT OF THE LIST
numeros = [1, 2, 3, 4, 5]
numeros [-1]= numeros[-1]*2
print(numeros)

# or:
#numeros = [1, 2, 3, 4, 5]
#numeros [4]= numeros[4]*2
#print(numeros)
# > [1, 2, 3, 4, 10]

[1, 2, 3, 4, 10]

In [41]:
# b: CREATE A TUPLE FROM THE LAST LIST
numeros = [1, 2, 3, 4, 5]
numeros_tuple = tuple(numeros)

print(numeros_tuple)
print(type(numeros_tuple))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [43]:
# b.02: CREATE A TUPLE FROM THE LAST LIST THAT WAS DUPLICATED
numeros= [1, 2, 3, 4, 10]
numeros_tuple = tuple(numeros)

print(numeros_tuple)
print(type(numeros_tuple))

(1, 2, 3, 4, 10)
<class 'tuple'>

In [50]:
# c: DUPLICATE THE FIRST ELEMENT OF THE
numeros = [1, 2, 3, 4, 5]
numeros [0]= numeros[0]*2
numeros_tuple = tuple(numeros)

print(numeros_tuple)
print(type(numeros_tuple))
#> (2, 2, 3, 4, 5)


# or:
#numeros = [1, 2, 3, 4, 5]
#numeros [-4]= numeros[-4]*2
#numeros_tuple = tuple(numeros)

#print(numeros_tuple)
#print(type(numeros_tuple))
#> (1, 4, 3, 4, 5)

(2, 2, 3, 4, 5)
<class 'tuple'>

In [52]:
# c.02: CREATE A TUPLE FROM THE LAST LIST THAT WAS DUPLICATED
numeros= [1, 2, 3, 4, 10]
numeros [0]= numeros[0]*2
numeros_tuple = tuple(numeros)

print(numeros_tuple)
print(type(numeros_tuple))
#> (2, 2, 3, 4, 10)

#or:
#numeros= [1, 2, 3, 4, 10]
#numeros [-4]= numeros[-4]*2
#numeros_tuple = tuple(numeros)

#print(numeros_tuple)
#print(type(numeros_tuple))
#> (1, 4, 3, 4, 10)

(2, 2, 3, 4, 10)
<class 'tuple'>

¿Qué ocurre con la tupla? ¿Por qué? Razona la respuesta:
Tuples are inmmutable

## Ejercicio 6

El código que se presenta a continuación no funciona. Corrige los errores y explica por qué suceden.

In [21]:
class = "Introducción a Python"

n_sesiones = 6

h_sesion = "3"

horas_total = n_sesiones*h_sesion

print(f"{class} tiene {n_sesiones} sesiones de {h_sesion} horas, que son un total de {horas_total} horas.")

SyntaxError: invalid syntax (<ipython-input-21-e6bbfe16e3b2>, line 1)

class = "Introducción a Python" -> The issue here is you cannot name a varible that is named ***class***

n_sesiones = 6 -> It's an **int**

h_sesion = "3" -> It's an **string**

horas_total = n_sesiones*h_sesion -> For some reason we are trying to multiply an INT with a STRING. First we need to convert it to a int.

print(f"{class} tiene {n_sesiones} sesiones de {h_sesion} horas, que son un total de {horas_total} horas.") -> Using f strings

In [71]:
# CORRECT CODE:
name_class = "Introducción a Python"

n_sesiones = 6

h_sesion = "3"

horas_total = n_sesiones*int(h_sesion)

print(f"{name_class} tiene {n_sesiones} sesiones de int({h_sesion}) horas, que son un total de {horas_total} horas.")

Introducción a Python tiene 6 sesiones de int(3) horas, que son un total de 18 horas.